@model IEnumerable<LogCargas.Models.RedeFrota>

@{
    ViewData["Title"] = "Rede Frota - Abastecimentos";
}

<h1>@ViewData["Title"]</h1>
*$#*%$@*@%*******$*@*@@
<div class="d-flex">
    <form method="post" asp-action="BuscarRedefrota" enctype="multipart/form-data">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <input type="date" class="form-control form-control-sm" name="minDate" value=@ViewData["minDate"] />
            </li>
            <li class="nav-item">
                <input type="date" class="form-control form-control-sm" name="maxDate" value=@ViewData["maxDate"] />
            </li>
            <li>
                <button class="btn btn-secondary btn-sm" type="submit">Buscar</button>
            </li>
    </form>
</div>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigoTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfMmotorista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataTransacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfMmotorista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataTransacao)
                </td>
            </tr>
        }
    </tbody>
</table>
