@* @model IEnumerable<LogCargas.Models.RedeFrota> *@
@model ReflectionIT.Mvc.Paging.PagingList<LogCargas.Models.RedeFrota>

@{
    ViewData["Title"] = "Rede Frota - Abastecimentos";
}

<h1>@ViewData["Title"]</h1>
<nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Filtro</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <form method="get" class="d-flex">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <input type="date" class="form-control form-control-sm" name="minDate" value=@ViewData["minDate"] />
                    </li>
                    <li class="nav-item">
                        <input type="date" class="form-control form-control-sm" name="maxDate" value=@ViewData["maxDate"] />
                    </li>
                    <li>
                        <button class="btn btn-secondary btn-sm" type="submit">Filtrar</button>
                        <button class="btn btn-primary btn-sm" asp-action="FindAllRefuelling">Busca Inteligente</button>
                        <button class="btn btn-outline-primary btn-sm" type="submit" asp-action="BuscarRedeFrota">Consultar Rede Frota</button>
                        <button class="btn btn-outline-info btn-sm" type="submit" asp-action="ExportaBsoftXLSX">XLSX</button>
                        @* <button class="btn btn-outline-info btn-sm" type="submit" asp-action="ExportaBsoftCSV">.CSV</button> *@
                    </li>
                </ul>
            </form>
        </div>
        <div class="d-flex">
            <h5 class="d-flex text-success">Quantidade: @Model.Count().ToString()</h5>
            @* => Valor Total: @Model.Sum(x => x.valorTransacao).ToString() *@
        </div>
</nav>
<table class="table table-striped table-bordered table-hover table-bordered shadow table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigoTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Litros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCombustivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstabelecimentoCNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-md-table-row">
                <td>
                    @Html.DisplayFor(modelItem => item.codigoTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCombustivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstabelecimentoCNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quilometragem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parcial)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>